<!doctype html>
<html lang="en">
  <head>
    <title>Edit Blog post</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://classroom-training-bucket.s3.ap-south-1.amazonaws.com/abc/IMG_20220529_164956_573.jpg" type="image/x-icon">
    <script>
        function myFunction() {          
                alert("blog edited successfull");         
        }
        </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1{
            text-align: center;
            font-weight: bold;
        }
        h2{
            text-align: center;
        }
        body{
          background-image: linear-gradient(rgba(3, 164, 129, 0.822), rgb(233, 233, 109), rgb(113, 231, 113));
        }
            .card {
        
        box-shadow: 0 15px 25px rgba(27, 24, 24, 0.2);
       
        border-radius: 50px;
        backdrop-filter: blur(14px);
        background-color: rgba(255, 255, 255, 0.2);
     
      
    }
    .backgroundd{
        background-color: #1A1A1A;
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top shadow">
      <img src="https://classroom-training-bucket.s3.ap-south-1.amazonaws.com/abc/IMG_20220529_164956_573.jpg" style="width: 40px; border-radius: 50px;" alt=""><a class="navbar-brand" href=""></a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="navbar-brand" href="https://amanblog-post.herokuapp.com/"> Aman blog post <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-group my-2 my-lg-0">
  
          <!-- <a href="https://amanblog-post.herokuapp.com/login"  type="button" class="btn btn-success form-group">login</a>
      <a href="https://amanblog-post.herokuapp.com/signUp" type="button" class="btn btn-primary form-group">SignUp</a> -->
  
  
  
      <a href="https://amanblog-post.herokuapp.com/logout" type="button" class="btn btn-danger">logout</a>

      <!-- <a href="http://localhost:3000/logout" type="button" class="btn btn-danger">logout</a> -->
          
  
        </form>
      </div>
    </nav><br><br><br>
     <div class="text-center">
      <% details.forEach(function(item){ %>
         
        <form class="container p-4" method="post" action="/edit/<%=item._id %>" enctype="multipart/form-data" onsubmit="myFunction()">

        <div class="card text-left">
            <img class="card-img-top w-100" src="https://payu.in/blog/wp-content/uploads/2019/01/Blog-Cover.gif" >
            <br>
            <h1>Edit Blog post</h1>
          <div class="card-body">
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="Title">Title</label>
                      <input type="text" name="title" id="" class="form-control" placeholder="Enter blog title name" required value="<%=(typeof item!='undefined')? item.title:''%>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlFile1">photo</label>
                        <input type="file" name="img" accept="image/png, image/gif, image/jpeg" class="form-control-file" id="exampleFormControlFile1" required value="<%=(typeof item!='undefined')? item.img:''%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">blog content message</label>
                    <textarea class="form-control" name="content" id="inputAddress" rows="10" placeholder="write blog content" required value=""><%=(typeof item!='undefined')? item.content:''%></textarea>
                    </textarea>
                  </div>
                <input type="text" name="signature" id="" class="form-control" placeholder="type you name for signature" required required value="<%=(typeof item!='undefined')? item.signature:''%>"><br>        
                <button type="submit" class="btn btn-success btn-lg form-group ">Post blog</button>
                
            </div>
          </div>
        </div>
        </from>
        <% }) %>
    </div>     
    <div class="p-5 backgroundd text-center text-white">
        <footer>copyright © 2022 all rights reserved by Aman kamar</footer>  
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>