<!doctype html>
<html lang="en">

<head>
  <title>Aman blog post</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Fenix' rel='stylesheet'>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0" />

  <link rel="icon" href="https://classroom-training-bucket.s3.ap-south-1.amazonaws.com/abc/IMG_20220529_164956_573.jpg" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    marquee {
      color: #fff;
      -webkit-animation: random 5s infinite;
      animation: random 5s infinite;
    }

    @keyframes random {
      15% {
        color: red;
      }

      30% {
        color: yellow;
      }

      45% {
        color: green;
      }

      60% {
        color: blue;
      }

      75% {
        color: white;
      }
    }

    p {
      font-family: 'Allura';
      font-size: 15px;
    }

    h4 {
      font-family: 'Fenix';
      font-size: 22px;
    }

    h1 {
      text-align: center;
      font-weight: bold;
    }

    .backgroundd {
      background-color: #1A1A1A;
    }

    marquee {
      font-weight: bold;
    }

    .card {
      box-shadow: 0 15px 25px rgba(27, 24, 24, 0.2);
      border-radius: 50px;
      backdrop-filter: blur(14px);
      background-color: rgba(255, 255, 255, 0.24);

    }

    body {
      background-image: linear-gradient(rgb(173, 106, 235), rgb(233, 233, 109), rgb(113, 231, 113));
      font-family: 'Fenix';
    }

    .immg {
      border-radius: 15px;
      text-align: center;

    }

    h4,
    p {
      font-size: 30px;
      color: black;
    }

    h6 {
      color: black;
    }

    @media (max-width: 480px) {
      body {
        background-image: linear-gradient(rgb(173, 106, 235), rgb(233, 233, 109), rgb(113, 231, 113));
      }

      h4,
      p {
        font-size: 15px;
        color: rgb(52, 29, 92);
      }

      h6 {
        color: black;
        font-size: 10px;
      }

      .immg {
        width: auto;
      }

      h1 {
        font-size: 30px;
        font-weight: bold;
        color: black;
      }


    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top shadow">
    <img src="https://classroom-training-bucket.s3.ap-south-1.amazonaws.com/abc/IMG_20220529_164956_573.jpg" style="width: 40px; border-radius: 50px;" alt=""><a class="navbar-brand" href=""></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="navbar-brand" href="https://amanblog-post.herokuapp.com/"> Aman blog post <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-group my-2 my-lg-0">

        <a href="https://amanblog-post.herokuapp.com/login"  type="button" class="btn btn-success ">login</a>
        <a href="https://amanblog-post.herokuapp.com/signUp" type="button" class="btn btn-primary">SignUp</a>



        <!-- <a href="http://localhost:3000/login" type="button" class="btn btn-success">login</a>
        <a href="http://localhost:3000/signUp" type="button" class="btn btn-warning">SignUp</a> -->

      </form>
    </div>
  </nav>
  </div><br><br><br>
  <marquee behavior="" direction="">PLEASE SignUp AND Login IF YOU WANT POST BLOG</marquee>

  <% if(details!=null) { %>
    <div class="">
      <div class="col-12">

        <hr>
        <h1>BLOG LIST </h1>
        <hr>

        <% details.forEach(function(item){ %>

          <div class="container p-5 card text-white text-left" style="border-radius: 40px;">
            <h1>
              <%= item.title%>
            </h1><br>

            <img src="<%= item.img %>" class="immg"><br><br>


            <h4>
              <%= item.content %>
            </h4><br><br>

            <p>
              <%= item.signature %>
            </p>
            <h6>
              <%= item.createdAt %>
            </h6> <br>

          </div>
          <br><br><br><br>
          <% }) %>
      </div>
      <% } %>
        <br><br><br>
        <br><br><br>

        <div class="p-5 backgroundd text-center text-white">
          <footer>copyright © 2022 all rights reserved by Aman kamar</footer>
        </div>
        <!-- Op
    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</body>

</html>